@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family:'Poppins sans-serif';
    text-decoration: none;
    list-style: none;
}

.service-container h1{
  text-align: center;
  font-size: 30px;
  position: relative;
}
.container h1::after{
  content: '';
  background:  #A93226;
  /* width: 100px;
  height: 5px; */
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform:translate(-50%)

}
.service-container .row{
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  grid-gap: 20px;
  margin: 40px;
}
.service{
  text-align: center;
  padding: 25px 10px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  background: transparent;
  transition: transform 0.5s, background 0.5s;
}
.service i{
  font-size: 40px;
  margin-bottom: 10px;
  color: #A93226;
}
.service h2{
  font-weight: 600;
  margin-bottom: 8px;
}
.service:hover{
  background: #A93226;
  color: #fff;
  transform: scale(1.05);
}
.service:hover i{
  color: #fff;
} 

/* .footer .container{
  max-width: 1170px;
  margin: auto;
  
} */
/* .row{
  display: flex;
  flex-wrap: wrap;
} */
ul{
  list-style-type: none;
}
