@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family:'Poppins sans-serif';
    text-decoration:none;
    list-style:none;
   
}
html{
    /* font-size:62.5%; */
    scroll-behavior: smooth;
   
}

body {
   
    overflow-x: hidden;
    
}


.cover{
  background-position:center;
  height:475px;
    background: url('./images/welcome.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    background-attachment: fixed;
}
#header{
   position:fixed;
   opacity: 1;
   top:0;
   width: 100%;
   z-index: 1000;

}
.banner{
    position: relative;
    height:400px;
    background-size: cover;
    background-position: 0 5%;
    background-repeat: no-repeat;
    margin-top:60px;

}

.shadow-main{
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
}

.banner h1{
    font-size:50px;
    font-weight: 400;
    position: absolute;
    bottom: 181px;
    right: 0;
    left: 1%;
    text-align: center;
    color: #fff;
}

#navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #A93226;
    opacity:1;
    justify-content:space-evenly;
    top:0;
    bottom: 0;
    
}
.name{
    display: flex;
    justify-content: flex-start;
    padding-top: 1%;

}
.name h1{
    font-size: 2rem;
    color:white;
    text-transform: capitalize;
   letter-spacing: 1px;
}
.nav-list{
    padding-top: 0.5%;
}
.nav-list ul{
    display: flex;
    justify-content: center;
}
.nav-list ul li{
    margin: 0 20px;
   
}
.nav-list ul li a{
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
    text-decoration: none;
    
}
.nav-list ul li a:hover{
    transition: .3s linear color;
    background-color: #fff;
    color: #A93226;
    max-width: fit-content;
}
.toggle-btn {
    color: #fff;
    font-size: 1,5rem;
    cursor: pointer;
    display: none;
    margin-top: 25px;
    margin-right: 20px;
}
.dropdown-menu{
    position: absolute;
    display: none;
    right: 2rem;
    top: 60px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown-menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.dropdown-menu li a{
    color:#fff;
}
.dropdown-menu.open{
height: 240px;
}


.hero-section{

    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;

}

.hero-info{
    display:block;
    line-height:40px;
    padding:20px;
    text-align: center;
    width:50%;
    margin-top:140px;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    
    
}
.page {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#hero #slogan{
   

}
.hero-info h2{
    color: #fff;
    font-size:30px;
    text-transform:uppercase;
    /* font-weight:700px; */
    letter-spacing:2px;
    /* display: block; */
    text-align: center;
}
.hero-info span{
    color:#D35400;
    font-size:20px;
    text-transform:capitalize;
    font-weight:300px;
    letter-spacing: 2px;
   display: block;
   
    
    /* animation-timing-function: ease-in;
    animation: mymove 5s ; */
    
}
.hero-info .btn{
   text-align: center;
   margin-top:10px
}
 .btn{
    transition-property: background-color, color;
    border: 3px solid #A93226;
    display: inline-block;
    background-color: transparent;
    color: #fff;
    transition: 3s ease;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size:20px;
    margin-bottom: 20px;
    border-radius: 20px;
    /* height: 60%; */
    padding: 10px 20px;
    font-weight: 500px;
}
.hero-section .btn:hover{
    color: white;
    background-color: #A93226;
    list-style-type: none;
    text-decoration: none;
}
.description{
    margin-top: 40px;
    display:block;
   
}
.description .paragraph{
    
    /* line-height:2px; */
    padding:20px;
    /* max-width:80%; */
    margin:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%
    
    

}
.paragraph span{
   width:40%;
    font-size:28px;
    letter-spacing:1px;
    display:block;
    text-align:center;
    font-weight: 700px;
}

.designers{
   display: flex;
   flex-wrap: wrap;
   justify-content: center; 
   align-items: center;
   gap:20px
}
.designers .image{
    flex: 1 1 41;
  max-width: 100%; 
  padding: 10px;
}
.designers .image img{
    width: 100%;
    height:300px;
    object-fit: contain;
}
 .designers .info{
    flex: 1 1 41;
    width:50%; 
  padding: 10px; 
}
.designers .info h3{
    font-size:26px;
    /* color:#A93226; */
    padding:10px
}
.designers .info p{
    font-size:18px;
    display:block;
    padding:20px;
    color:#666;
    letter-spacing: .2px;
    word-spacing: 3px;

}
/* .title{
    font-size: 22px;
    color: #A93226;
    text-transform: uppercase;
    font-weight: 600px;
    left: 2px;
    margin-left: 80px;
    margin-top: 40px;
} */
.award{
   height:500px;
   object-fit:contain 
}

.award .win{
    background-color:#f2f2f2;
    height:300px;
    float:left;
    left: 600px;
    margin-top: 200px;
    width:40%;

    
}
.win h2{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 24px;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: bold;
}
.win p{
     font-size: 18px;
     padding:20px;
     width:100%;
}
ul{
    padding-left: 20px;
    margin:1rem;
}
li{
    font-size: 18px;
    
}
.award h2{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    display:block;
    text-align: center;
    margin-top:20px; 
    background: linear-gradient(
        to right, #f32170, #ff6b08,
         #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}
.why{
   margin:20px;
   
}
.title-section{
    text-align: center;
    display:block;
}
.title-section span{
    font-size: 12px;
    font-weight: 200px;
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family:'Poppins sans-serif';

}
.title-section h2{
    padding-top:10px;
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px; 
    
}
.box-container{
    margin-top:20px;
    display:grid;
    gap:20px;
    grid-template-columns:repeat(3, 1fr);
   
}
.box{
    display: block;
    background: #f2f2f2;
    height:200px;
    width:100%;
    text-align: center;
    box-shadow: 0px 0px 5px 0px rgb(0, 0, 0, 0.3);
}
.icon{
    margin-top:20px
}
.icon i{
    color: #D35400;
    font-size:30px;
    font-weight: bold;
}
.box-container .box .content{
   margin:20px;
    display:block;
    
}
.box-container .box .content span{
    font-size: 24px;
    text-transform: capitalize;

}
.box-container .box .content p{
    font-size: 18px;
    color: grey;
    display:block;
    /* text-align: ; */
    word-spacing:3px;
    padding-top: 20px;
   
}
/* project-section */
.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    gap:20px;
    margin:30px;
   
 }
 .projects .image{
     flex: 1 1 41;
   max-width: 100%; 
   padding: 10px;
 }
 .projects .image img{
     width: 100%;
     height:200px;
     object-fit: contain;
 }
  .projects .info{
     flex: 1 1 41;
     width:50%; 
   padding: 10px; 
   box-shadow: 0px 0px 5px 0px rgb(0, 0, 0, 0.1);
   background-color:#f2f2f2;
 }
 .projects .info span{
     font-size:26px;
     margin-left:10px
     /* color:#A93226; */
    
 }
 .projects .info p{
     font-size:18px;
     display:block;
     padding:10px;
     color:#666;
     letter-spacing: .2px;
     word-spacing: 3px;
 
 }
 .projects .info .button{
    background:#A93226;
    transition-property: background-color, color;
    display: inline-block;
    transition: 3s ease;
    
    letter-spacing: 1px;
    margin-left:10px;
    margin-bottom: 20px;
    border-radius: 20px;
    /* height: 60%; */
    padding: 10px 10px;
 }
 .projects .info .button a{
    color:#fff;
 }


/* end-project-section */
.footer{
    background-color: #01021B;
    margin-top: 60px;
    padding: 70px 0;
   
}
.footer .container{
    max-width: 1170px;
    margin: auto;
    
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style-type: none;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 30px;
    color: #fff;
    font-weight: 500px;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color:  #A93226;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
    background-color:#A93226 ;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #bbb;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #fff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #fff;
}
/* about-section */
.about-section{
    margin: 50px 20px;

    
}
.about-container{
    
    margin: auto;
    margin-top: 40px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    gap:20px
}

.content-section{
    
    flex:1 1 41rem;
    padding:10px;
}
.image-section{
    flex:1 1 41rem;
   padding:20px
}
.image-section img{
    width: 100%;
    height: 300px;
    margin-left: 20px;
    object-fit: contain;
    
   
}
.content-section h2{
    text-transform:capitalize;
    font-size:28px;
    color: #A93226;
    font-weight: bold;
}

.content-section p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: .2px;
    line-height: 30px;
}
.content-section .content .button{
    margin-top: 30px;
 
}
 

.readmore a{
    text-transform: capitalize;
    letter-spacing: 1px;
    text-decoration: none;
    font-size:18px;
    
    transition-property: background-color, color;
    
    display: inline-block;
    background-color: transparent;
    color:#D35400 ;
    transition: 3s ease;
    padding: 10px 20px;
    border-radius: 20px;
}
.content-section .content .button :hover{ 
color: white;
background-color: #A93226;
list-style-type: none;
text-decoration: none;
}
.mission{
    margin: 40px;
}
.mission .box-container {
   
    width:100%;
    height: auto;

}

.mission .box-container .box{
   
    /* margin: 50px 20px; */
    height: auto;
    width: 100%;
    box-shadow: 0px 0px 5px 0px rgb(0, 0, 0, 0.1);
    background-color:#f2f2f2;
    
}
.mission .box-container {
    
    /* justify-content: center;
    align-items: center; */
    margin: auto; 
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:20px
}
.mission .box-container .box h3{
    margin: 10px;
    margin-left: 10px;
    font-size:30px;
    color: #A93226;
}
.mission .box-container .box p{
    font-size: 18px;
    color: #6e6e6e;
    line-height: 1.5;
    padding: 10px;
    letter-spacing: .2px;
    font-family: sans-serif;
    text-align: justify;

}

/* .content .card img{
    width:100%;
    height: auto;
} */
@media(max-width:1200px) {
    section
    {
        padding:3rem 5%;
    }
}
@media(max-width:991px) {
    section{
        padding:3rem 2rem;

    }
    /* html{
        font-size:55%
    } */
}
@media(max-width:767px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
   
}
@media(max-width:574px) {
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
    }
}
@media(max-width:967px){
    .nav-list{
        display: none;
    }
    .name h1{
        font-size: 1.6rem;
        margin-top: 10px;
        /* margin-left:-40px */
    }
    .toggle-btn{
        display: block;
        margin-left: 100px;
    }
    .dropdown-menu{
        display: block;

    }
}
@media(max-width:567px){
    .dropdown-menu{
        left:2rem;
        width: unset;
    }
}
@media(max-width:450px) {
    html{
       font-size:50%
    }
}
/* about */
@media screen and (max-width:768px) {
    .box-container.box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:auto
    }

    .box-container .card p{
    width:100%
}
}