@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family:'Poppins sans-serif';
    text-decoration: none;
    list-style: none;
}
#cover{
    height: 100vh;
    width: 100vw;
    background: url('./images/welcome.jpg');
    background-size: 100% 100%;
}
#header{
   position:absolute;
   opacity: 1;
   top:0;
   height: 100vh;
   width: 100vw;

}
#cover::after{
    
      content: '';  
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:black;
    opacity: .8;
    
    
}
#navbar{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #A93226;
    opacity:1;
    justify-content:space-evenly
    
}
.name{
    display: flex;
    justify-content: flex-start;
    padding-top: 1%;

}
.name h1{
    font-size: 2rem;
    color:white;
    text-transform: capitalize;
   letter-spacing: 1px;
}
.nav-list{
    padding-top: 0.5%;
}
.nav-list ul{
    display: flex;
    justify-content: center;
}
.nav-list ul li{
    margin: 0 20px;
}
.nav-list ul li a{
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
    
}
.nav-list ul li a:hover{
    transition: .3s linear color;
    background-color: #fff;
    color: #A93226;
    max-width: fit-content;
}
.toggle-btn {
    color: #fff;
    font-size: 1,5rem;
    cursor: pointer;
    display: none;
    margin-top: 25px;
    margin-right: 20px;
}
.dropdown-menu{
    position: absolute;
    
    display: none;
    right: 2rem;
    top: 60px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown-menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.dropdown-menu li a{
    color:#fff;
}
.dropdown-menu.open{
height: 240px;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center
}
#main #hero{
  display: flex;
  align-items: center;
  flex-direction: column;
 
}
#hero #slogan{
    color: #fff;
    font-size: 28px;
    text-transform:uppercase;
    font-weight:700px;
    letter-spacing: 2px;

}

#hero #branding{
    color: #fff;
    font-size: 20px;
    text-transform:capitalize;
    font-weight:300px;
    letter-spacing: 2px;
    margin-top: 4px;
    /* animation-timing-function: ease-in;
    animation: mymove 5s ; */
    
}
#hero #btn{
    transition-property: background-color, color;
    border: 3px solid #A93226;
    display: inline-block;
    background-color: transparent;
    color: #fff;
    transition: 3s ease;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size:20px;
    margin-top: 20px;
    border-radius: 20px;
    /* height: 60%; */
    padding: 10px 20px;
    font-weight: 500px;
}
#hero #btn:hover{
    color: white;
    background-color: #A93226;
    list-style-type: none;
    text-decoration: none;
}
#description{
    margin-top: 40px;
}
#comment1{
    display: flex;
    justify-content:center;
    font-size:22px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: capitalize;
}
#comment2{
    display: flex;
    justify-content:center;
    font-size:22px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: capitalize;
}
#comment3{
    display: flex;
    justify-content:center;
    font-size:22px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: capitalize;
}
#designers{
    margin-top: 100px;
    margin-left: 20px;
    display:flex;
    flex-direction: row;
}
#designers img{
    margin-left: 40px;
}
.title{
    font-size: 22px;
    color: #A93226;
    text-transform: uppercase;
    font-weight: 600px;
    left: 2px;
    margin-left: 80px;
    margin-top: 40px;
}
#designers p{
    font-size:18px;
    letter-spacing: 1px;
    margin-left: 80px;
    margin-top: 20px;
}
#award{
    display: flex;
    /* align-items: center;
    justify-content:center; */
    margin-top: 100px;
    margin-left: 20px;
    flex-direction: row;

}
#award img{
    height: 500px;
    margin-left: 150px;
    width: 1000px;
     
}
#win{
    position: absolute;
    background-color: #f2f2f2;
    height: 300px;
    float: left;
    left: 600px;
    margin-top: 200px;
    
}
#headline{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 22px;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: bold;
}
#win p{
     font-size: 18px;
     padding:  20px;
     font-weight: 300px;
}
ul{
    padding-left: 20px;
    margin:1rem;
}
li{
    font-size: 18px;
    font-weight: bold;
}
#linetext{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px; 
    background: linear-gradient(
        to right, #f32170, #ff6b08,
         #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}
#why{
    margin-top: 100px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-left: 100px;
}
.title-section p{
    font-size: 14px;
    font-weight: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family:'Poppins sans-serif';

}
#t{
    font-size: 26px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    letter-spacing: 2px; 
    margin-top: 20px;
}
.planning{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.part-1{
    box-sizing: border-box;

}
.part-1 i{
    color: #D35400;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
#txt{
    margin-top: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1px;
}
.part-1 p{
    font-size: 18px;
    color: grey;
    padding-top: 10px;
    font-weight: 600px;
}
.footer{
    background-color: #01021B;
    margin-top: 60px;
    padding: 70px 0;
   
}
.footer .container{
    max-width: 1170px;
    margin: auto;
    
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style-type: none;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 30px;
    color: #fff;
    font-weight: 500px;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color:  #A93226;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
    background-color:#A93226 ;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #bbb;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #fff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #fff;
}
@media(max-width:767px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width:574px) {
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
    }
}
@media(max-width:967px){
    .nav-list{
        display: none;
    }
    .name h1{
        font-size: 1.6rem;
        margin-top: 10px;
        /* margin-left:-40px */
    }
    .toggle-btn{
        display: block;
        margin-left: 100px;
    }
    .dropdown-menu{
        display: block;

    }
}
@media(max-width:567px){
    .dropdown-menu{
        left:2rem;
        width: unset;
    }
}